# Created by .ignore support plugin (hsz.mobi)
### Composer template
composer.phar
/vendor/
node_modules
.tk/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
package-lock.json
.env
config.ini

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
